/*--- SPARTALIEN.com ---*/ /*--- Font ---*/
@font-face {
  font-display: swap;
  font-family: "Share Tech";
  font-style: normal;
  font-weight: 400;
  src: url("./share-tech-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./share-tech-mono-v15-latin-regular.woff2") format("woff2");
}
/*--- Var ---*/ /*--- Reset ---*/
html, body,
noscript,
div, header, nav, main, footer,
h1, h2, h3,
code, pre,
p, ul, li,
a,
img,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: normal;
  line-height: 1;
  font-family: sans-serif;
  text-underline-offset: 4px;
  text-rendering: geometricPrecision;
  overflow-wrap: break-word;
  tab-size: 4;
  cursor: default;
}

header, main, nav, footer {
  display: block;
}

a {
  outline: none;
  cursor: crosshair;
}

img, iframe {
  max-width: 100%;
}

iframe {
  display: block;
}

/*--- Layout ---*/
.layout {
  padding: 1rem;
  display: grid;
  grid-template-areas: "header" "content" "footer";
}
.layout .layout-header {
  grid-area: header;
  margin-bottom: 3rem;
}
.layout .layout-content {
  grid-area: content;
  margin-right: 0.5rem;
}
.layout .layout-footer {
  grid-area: footer;
  margin-top: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid-rls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "coverart" "info" "player" "tracklist" "credits" "media";
  column-gap: 2rem;
  row-gap: 2rem;
}
.grid-rls .rls-coverart {
  grid-area: coverart;
}
.grid-rls .rls-coverart img {
  max-width: 500px;
}
.grid-rls .rls-info {
  grid-area: info;
}
.grid-rls .rls-player {
  grid-area: player;
}
.grid-rls .rls-tracklist {
  grid-area: tracklist;
}
.grid-rls .rls-credits {
  grid-area: credits;
}
.grid-rls .rls-media {
  grid-area: media;
}

header {
  margin-bottom: 0.5rem;
  text-align: center;
}

nav {
  text-align: center;
}
nav li {
  display: inline-block;
}

main {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  font-family: "Share Tech", sans-serif;
}

code, pre, .lazycode {
  font-family: "Share Tech Mono", monospace;
}

body, code, pre {
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 22px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 18px;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

p, ul, pre {
  line-height: 1.5;
}

p, ul {
  margin-bottom: 0.5rem;
}
p:last-child, ul:last-child {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}
ul ul {
  list-style-type: circle;
  margin-left: 2.5rem;
}

a:link, a:visited {
  text-decoration-line: none;
}
a:hover, a:focus, a:active {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.fluid {
  width: 100%;
  height: auto;
}

/*--- Color ---*/
body {
  color: hsl(0deg, 0%, 59%);
  background-color: hsl(0deg, 0%, 7%);
}

code, pre, .lazycode {
  color: hsl(0deg, 0%, 48%);
}

header h1 a:link, header h1 a:visited {
  color: hsl(0deg, 0%, 89%);
}

h2 {
  color: hsl(0deg, 0%, 69%);
}

h3 {
  color: hsl(0deg, 0%, 40%);
}

a:link, a:visited {
  color: hsl(77deg, 75%, 24%);
}
a:hover, a:focus, a:active, a.active {
  color: hsl(77deg, 75%, 41%);
  text-decoration-color: hsl(77deg, 75%, 41%);
}

*::selection {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(77deg, 75%, 20%);
}

/*--- Query ---*/
@media screen and (min-width: 576px) {
  body, code, pre {
    font-size: calc(14px + 6 * (100vw - 576px) / 960);
  }
  h1 {
    font-size: calc(18px + 10 * (100vw - 576px) / 960);
  }
  h2 {
    font-size: calc(22px + 10 * (100vw - 576px) / 960);
  }
  h3 {
    font-size: calc(18px + 10 * (100vw - 576px) / 960);
  }
  .layout {
    grid-template-columns: min-content auto;
    grid-template-areas: "header content" "footer footer";
  }
  .layout .layout-header {
    margin-right: 4rem;
    margin-bottom: 0;
  }
  .layout .layout-content {
    margin-right: 1rem;
  }
  header {
    margin-top: 0.17rem;
    margin-bottom: 2rem;
    text-align: right;
  }
  nav li {
    text-align: right;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-rls {
    grid-template-columns: 500px auto;
    grid-template-areas: "coverart info" "player   tracklist" "credits  credits" "media    media";
  }
}
@media screen and (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1536px) {
  body, code, pre {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
