AddDefaultCharset UTF-8
ServerSignature Off
Options -Indexes
Options -MultiViews

AddType application/xml      .xml
AddType application/atom+xml .atom

RewriteEngine On

# FILES REDIRECT FOR DEV ENV:
RewriteRule ^file(/.*)?$ /spartalien.com-files/file$1 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?r=$1 [L]
