AddDefaultCharset UTF-8
ServerSignature Off
Options +FollowSymlinks
Options -Indexes
Options -MultiViews
AddType application/rss+xml .rss

RewriteEngine On

# COMMENT-OUT THIS FILES REDIRECT BEFORE DEPLOY:
RewriteRule ^file(/.*)?$ /spartalien.com-files$1 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?r=$1 [L]
