AddDefaultCharset UTF-8
ServerSignature Off
Options -Indexes
Options -MultiViews

AddType application/atom+xml .atom

RewriteEngine On

# COMMENT OUT THIS FILES REDIRECT ON THE PRODUCTION SERVER:
RewriteRule ^file(/.*)?$ /spartalien.com-files/file$1 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?r=$1 [L]
