/*--- Color ---*/

body {
    color: $color-gray-400;
    background-color: $color-gray-950;
}


code, pre, .lazycode {
    color: $color-gray-500;
}


header {
    h1 a {
        &:link,
        &:visited {
            color: $color-gray-100;
        }
    }
}



h2 {
    color: $color-gray-300;
}


h3 {
    color: $color-gray-600;
}


a {
    &:link,
    &:visited {
        color: $color-brand-200;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-brand-50;
        text-decoration-color: $color-brand-50;
    }
}


*::selection {
    color: $color-white;
    background-color: $color-brand-250;
}
