body {
    font-family: sans-serif;
    background: #000;
}

body, a {
    color: #999;
}

// h1 { display: none; }

// table {
//     border-collapse: collapse;
//     text-align: left;

//     td {
//         padding: .5rem 1rem .5rem 0;
//         border-bottom: 1px solid #666;
//     }

//     img {
//         width: 100%;
//         height: auto;
//         max-width: 100px;
//         max-height: 100px;
//     }
// }
