/*--- Font ---*/

@font-face {
    font-display: swap;
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: url('./share-tech-v17-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./share-tech-mono-v15-latin-regular.woff2') format('woff2');
}
