body {
    font-family: $font-family-main;
    font-size: $font-size-default-min;
    text-rendering: geometricPrecision;
}


code,
pre,
.font-mono,
.lazycode,
.noscript {
    font-family: $font-family-mono;
    font-size: 80%;
}



h1 {
    font-family: $font-family-deco;
    letter-spacing: .15rem;
}


h2 {
    font-family: $font-family-deco;
    font-size: $font-size-h2-min;
    margin-bottom: 6rem;
}


h3 {
    font-family: $font-family-deco;
    font-size: $font-size-h3-min;
    margin-bottom: 2rem;
}



main, footer {
    table { line-height: 2; }
    th { line-height: 1.5; }

    p, ul, .lazymedia { line-height: 1.5; }

    pre { line-height: 1.35; }

    p, ul, pre, .lazycode, .lazymedia {
        margin-bottom: 1rem;
    }
}














a {
    &:link,
    &:visited {
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }

    &:hover,
    &:active {
        text-decoration-line: none;
    }

    &:focus,
    &.active {
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    &.active {
        img {
            border-width: 1px;
        }
    }

    &.external::after {
        content: '⇗';
    }

    &.img::after {
        content: '';
    }
}


label {
    margin-bottom: .5rem;
}


table {
    th {
        font-weight: bold;
        white-space: nowrap;
    }

    th,
    td {
        padding-right: 2rem;
        vertical-align: top;
    }

    td {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}


input {
    width: 200px;
    max-width: 100%;
    padding: .75rem;
}


button {
    padding: .25rem .5rem;
    border-width: 1px;
    border-radius: 7px;
    cursor: pointer;
}


img.tn {
    width: 100%;
    min-width: 50px;
    height: auto;
    border-width: 1px;
}













header {
    position: sticky;
    top: 0;
    line-height: 1;
    padding: 1rem;
    margin-bottom: 4rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 10;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .75rem;
    row-gap: .5rem;
    align-items: center;
    justify-content: center;
    font-family: $font-family-deco;

    a {
        &:link,
        &:visited {
            text-decoration-line: none;
        }
    }
}


main {
    min-width: 350px;
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;

    img {
        max-height: 70vh;
    }
}


footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 80vh;
    border-top-width: 1px;
    border-top-style: solid;
    z-index: 5;
    cursor: crosshair;

    a {
        &:link,
        &:visited {
            text-decoration: none;

            &.external::after {
                content: none;
            }
        }
    }

    nav {
        justify-content: center;
        margin-bottom: 2rem;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 2rem;
        opacity: .2;
        transition: opacity 2.0s linear;

        &:hover,
        &:focus {
            opacity: 1;
            transition: opacity 1.500s linear;
        }
    }
}













// this grid works now well for 1:1 images
// does not need media queries
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}


// use this for 2-3 column
// needs media queries
.grid-x-2,
.grid-x-3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
    column-gap: 4rem;
}


.box {
    max-width: fit-content;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-bottom: 8rem;
    border-width: 1px;

    &.full-width {
        max-width: 100%;
    }
}







.more {
    margin-top: 40vh;
}


.meta {
    font-family: $font-family-mono;
    font-size: 80%;
}


.noscript {
    padding: .25rem;
    margin-bottom: .25rem;
    text-align: center;
}


.text-align-center {
    text-align: center;

    img {
        margin-left: auto;
        margin-right: auto;
    }
}


.text-align-right {
    text-align: right;
}


.hide {
    display: none;
}
