/* share-tech-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: url('./vendor/share-tech-v21-latin-regular.woff2') format('woff2');
}

/* share-tech-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./vendor/share-tech-mono-v15-latin-regular.woff2') format('woff2');
}


/* noto-sans-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url('./vendor/noto-sans-v30-latin-200.woff2') format('woff2');
}


// text -------------------------------------------------------------------------

*::selection {
    color: $color-black;
    background-color: $color-brand-50;
}


body {
    font-family: $font-family-main;
    font-size: $font-size-default-min;
    text-rendering: geometricPrecision;
    color: $color-gray-500;
    background-color: $color-gray-997;
}


code,
pre,
.font-mono,
.lazycode,
.noscript {
    font-family: $font-family-mono;
    font-size: 80%;
    color: $color-gray-550;
}



h1 {
    font-family: $font-family-deco;
    color: $color-gray-150;
    letter-spacing: .15rem;
}


h2 {
    font-family: $font-family-deco;
    font-size: $font-size-h2-min;
    margin-bottom: 6rem;
    color: $color-gray-650;
    transition: color 5s linear;

    &::first-letter {
        color: $color-brand-200;
    }

    &:hover,
    &:focus {
        color: $color-gray-500;
        transition: color .25s linear;

        &::first-letter {
            color: $color-brand-50;
        }
    }
}


h3 {
    font-family: $font-family-deco;
    font-size: $font-size-h3-min;
    margin-bottom: 2rem;
    color: $color-gray-500;
    transition: color 5s linear;

    &::first-letter {
        color: $color-gray-350;
    }
}



main, footer {
    table { line-height: 2; }

    p, ul, .lazymedia { line-height: 1.5; }

    pre /*, .meta */ { line-height: 1.35; }

    p, ul, pre, .lazycode, .lazymedia {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}





.meta {
    font-family: $font-family-mono;
    font-size: 80%;
    margin-bottom: 2rem;
    color: $color-gray-600;
}











// standart elements
a {
    &:link,
    &:visited {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        color: $color-gray-400;
    }

    &:hover,
    &:active {
        text-decoration-line: none;
        color: $color-brand-50;
        text-decoration-color: $color-gray-300;
    }

    &:focus,
    &.active {
        text-decoration-line: underline;
        text-decoration-style: double;
        color: $color-brand-50;
        text-decoration-color: $color-brand-50;

        img {
            border-width: 1px;
            border-color: $color-brand-50;
        }
    }

    // &[href^='//']::after,
    // &[href^='http://']::after,
    // &[href^='https://']::after {
    &.external::after {
        content: '⇗';
        color: $color-gray-600;
    }

    &.img::after {
        content: '';
    }
}


table {
    th {
        white-space: nowrap;
    }

    th,
    td {
        padding-right: 4rem;
        vertical-align: top;
    }

    td {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    tr {
        td {
            background-color: transparent;
            transition: background-color 1s linear;
        }

        &:hover,
        &:focus {
            td {
                background-color: $color-gray-900;
                transition: background-color .25s linear;
            }
        }
    }
}
















// layout -------------------------------------------------------------------------

header {
    position: sticky;
    top: 0;
    line-height: 1;
    padding: 1rem;
    margin-bottom: 4rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-brand-250;
    background-color: $color-gray-999;
    box-shadow: 0 5px 10px 5px $color-black;
    z-index: 10;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .75rem;
    row-gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    // font-family: $font-family-mono;
    font-family: $font-family-deco;

    a {
        &:link,
        &:visited {
            text-decoration-line: none;
        }

        &:active {
            color: $color-white;
        }

        // &.active {
        //     text-decoration-line: underline;
        // }
    }
}


main {
    min-width: 300px;
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;

    img {
        max-height: 70vh;
    }
}


footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 85vh;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $color-brand-250;
    background-color: $color-gray-950;
    box-shadow: 0 -5px 10px 5px $color-black;
    opacity: .25;
    transition: opacity .75s linear;
    z-index: 5;
    cursor: crosshair;

    &:hover,
    &:focus {
        opacity: 1;
        transition: opacity .1s linear;
    }

    nav {
        justify-content: center;
        margin-bottom: 2rem;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 2rem;
        opacity: .2;
        transition: opacity 2.0s linear;

        &:hover,
        &:focus {
            opacity: 1;
            transition: opacity 1.500s linear;
        }
    }
}


img.tn {
    // min-width: 80px;
    // min-width: 150px;
    min-width: 100%;
    height: auto;
    border-width: 1px;
    border-color: $color-gray-900;
}














// this grid works now well for images
// does not need media queries
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    img {
        width: auto;
        height: 100%;
        object-fit: cover;
        // box-shadow: 0 0 10px 5px $color-black;
    }
}


// use this for 2-3 column
// needs media queries
.grid-x-2,
.grid-x-3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
    column-gap: 4rem;
}


.box {
    max-width: fit-content;
    padding: 1.5rem;
    margin-bottom: 8rem;
    border-width: 1px;
    border-color: $color-gray-900;
    background-color: $color-gray-950;
    box-shadow: 0 0 10px 5px $color-black inset;

    &.full-width {
        max-width: 100%;
    }

    &:hover,
    &:focus {
        h3 {
            color: $color-gray-350;
            transition: color .25s linear;

            &::first-letter {
                color: $color-gray-100;
            }
        }
    }
}



.more {
    margin-top: 40vh;
}








.noscript {
    color: $color-warning;
    padding: .25rem;
    margin-bottom: .25rem;
}


.text-align-center {
    text-align: center;
}


.text-align-right {
    text-align: right;
}


.hide {
    display: none;
}











.lazycode {
    display: block;
}


.lazymedia {
    display: block;

    &.mixcloudshow,
    &.mixcloudplaylist {
        width: 100%;
        height: 181px;
    }
}






div.imgzoom-target {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    text-align: center;
    cursor: zoom-out;
    background-color: #000000ec;
}

div.imgzoom-target.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.imgzoom-target img {
    max-width: 100%;
    max-height: 100%;
    border: 10px solid #2b2b2b;
}

a.imgzoom,
a.lazymedia.image {
    cursor: zoom-in;
}














// width - small
@media screen and (min-width: 576px) {
    body { font-size: calc($font-size-default-min + ($font-size-default-max-num - $font-size-default-min-num) * ((100vw - 576px) / (1536 - 576))); }
    h2 { font-size: calc($font-size-h2-min + ($font-size-h2-max-num - $font-size-h2-min-num) * ((100vw - 576px) / (1536 - 576))); }
    h3 { font-size: calc($font-size-h3-min + ($font-size-h3-max-num - $font-size-h3-min-num) * ((100vw - 576px) / (1536 - 576))); }
}


// width - medium
@media screen and (min-width: 768px) {
    .grid-x-2,
    .grid-x-3 {
        grid-template-columns: repeat(2, 1fr);
        // row-gap: 8rem;
        // margin-bottom: 8rem;
        &.compact-lines { row-gap: 1.5rem; }
        // .box { margin-bottom: 0; }
    }

    .grid-x-2 {
        row-gap: 8rem;
    }

    .grid-x-3 {
        row-gap: 0rem;
    }
}


// width - large
@media screen and (min-width: 1024px) {
    .grid-x-3 { grid-template-columns: repeat(3, 1fr); }
}


// width - extra large
// @media screen and (min-width: 1280px) {}


// width - extra extra large
@media screen and (min-width: 1536px) {
    body { font-size: $font-size-default-max; }
    h2 { font-size: $font-size-h2-max; }
    h3 { font-size: $font-size-h3-max; }
}


// height - make header un-sticky
@media screen and (max-height: 50rem) {
    header { position: relative; }
}











// /*--- Layout ---*/
// // mobile first, handle larger screensizes in _query

// p { line-height: 1.75; }
// ul { line-height: 1.75; }
// nav ul { line-height: 1; }
// table { line-height: 2; }
// pre { line-height: 1.5; }


// header {
//     padding-top: 1.25rem;
//     padding-bottom: 1rem;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     margin-bottom: 3rem;
//     border-bottom-width: 1px;
//     border-bottom-style: dotted;
// }


// nav ul li {
//     display: inline-block;
//     margin-right: .75rem;

//     &:last-child {
//         margin-right: 0;
//     }

//     a {
//         &:link,
//         &:visited {
//             text-decoration-line: none;
//         }

//         &::before {
//             content: '/';
//         }
//     }
// }


// main {
//     min-width: 300px;
//     max-width: 1200px;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     margin-left: auto;
//     margin-right: auto;

//     img {
//         max-height: 80vh;
//     }
// }


// footer {
//     padding-bottom: 2rem;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     margin-top: 95vh;

//     nav {
//         margin-bottom: 1rem;
//     }
// }





// h1 {
//     display: none;
// }


// h2 {
//     margin-bottom: 6rem;
//     letter-spacing: .25rem;
// }


// h3 {
//     margin-bottom: 2rem;
// }


// section {
//     margin-bottom: 8rem;

//     &:last-child {
//         margin-bottom: 0;
//     }

//     &.more {
//         margin-top: 30rem;
//     }
// }


// // article {
// //     margin-bottom: 8rem;

// //     &:last-child {
// //         margin-bottom: 0;
// //     }
// // }


// p,
// ul {
//     margin-bottom: 1rem;

//     &:last-child {
//         margin-bottom: 0;
//     }
// }


// table {
//     // width: 100%;

//     th {
//         padding-bottom: .5rem;
//         white-space: nowrap;
//     }

//     th,
//     td {
//         padding-right: 4rem;
//         vertical-align: top;
//     }
// }


// a {
//     outline: none;

//     &:link,
//     &:visited {
//         text-decoration-line: underline;
//         text-decoration-style: dotted;
//     }

//     &:hover,
//     &:active {
//         text-decoration-line: underline;
//         text-decoration-style: solid;
//     }

//     &:focus,
//     &.active {
//         text-decoration-line: underline;
//         text-decoration-style: double;

//         img {
//             border-width: 1px;
//         }
//     }

//     &[href^='//']::after,
//     &[href^='http://']::after,
//     &[href^='https://']::after {
//         content: '⇗';
//     }
// }




// .grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: minmax(auto, 1fr);
//     column-gap: 2rem;
//     row-gap: 2rem;

//     img {
//         width: auto;
//         height: 100%;
//         object-fit: cover;
//     }

//     &.max3 {
//         grid-template-columns: 1fr;
//     }

//     &.content {
//         grid-template-columns: 1fr;
//         column-gap: 4rem;
//         row-gap: 8rem;

//         img {
//             width: 100%;
//             max-width: 400px;
//             height: auto;
//             object-fit: contain;
//         }
//     }
// }



// .rls {
//     .head {
//         margin-bottom: 4rem;
//     }

//     .info {
//         margin-bottom: 4rem;
//     }
// }



// .text-align-right {
//     text-align: right;
// }


// .letter-spacing-sm {
//     letter-spacing: .25rem;
// }








































// // h1, p, ul, pre, table {
// //     line-height: 1.5;
// // }


// // header {
// //     display: grid;
// //     grid-template-columns: min-content auto;
// //     column-gap: 2rem;
// //     align-items: start;

// //     padding: 1rem;
// //     margin-bottom: 3rem;
// // }


// // nav li {
// //     display: inline-block;
// //     margin-right: .5rem;
// // }


// // main {
// //     min-width: 300px;
// //     max-width: 1300px;
// //     padding: 0 1rem;
// //     margin: 0 auto 3rem auto;
// // }


// // section {
// //     margin-bottom: 4rem;

// //     &:last-child {
// //         margin-bottom: 0;
// //     }

// //     &.more {
// //         margin-top: 20rem;
// //     }
// // }


// // footer {
// //     padding: 0 1rem 1rem 1rem;
// // }


// // h1 {
// //     letter-spacing: 3px;
// // }


// // h2 {
// //     margin-bottom: 3rem;
// // }


// // h3 {
// //     margin-bottom: 1rem;
// // }


// // p,
// // ul {
// //     margin-bottom: .5rem;

// //     &:last-child {
// //         margin-bottom: 0;
// //     }
// // }


// // table {
// //     // width: 100%;
// //     width: auto;

// //     th {
// //         padding-bottom: .5rem;
// //         white-space: nowrap;
// //     }

// //     th,
// //     td {
// //         padding-right: 2rem;
// //         vertical-align: top;
// //     }
// // }


// // // .rls {
// // //     .head {
// // //         h2 {
// // //             margin-bottom: .5rem;
// // //         }

// // //         .meta {
// // //             color: $color-gray-500;
// // //             margin-bottom: 1.5rem;
// // //         }


// // //         .coverart {
// // //             margin-bottom: 1.5rem;
// // //         }

// // //         .player {
// // //             .lazycode,
// // //             .lazymedia {
// // //                 width: 100%;
// // //                 max-width: 600px;
// // //                 max-height: 600px;
// // //             }
// // //         }
// // //     }

// // //     // .description {}

// // //     // .tracklist {}

// // //     // .credit {}

// // //     // .media {}
// // // }


// // .text-align-right {
// //     text-align: right;
// // }


// // .grid {
// //     display: grid;
// //     grid-template-rows: 1fr;

// //     &.content {
// //         grid-template-columns: 1fr;
// //         column-gap: 2rem;
// //         row-gap: 2rem;
// //     }

// //     &.gallery {
// //         grid-template-columns: repeat(3, 1fr);
// //         column-gap: 1rem;
// //         row-gap: 1rem;

// //         img {
// //             width: auto;
// //             height: 100%;
// //             object-fit: cover;
// //         }
// //     }
// // }


// // .lazymedia {
// //     // display: block;
// //     // margin-bottom: 1rem;

// //     // &:last-child {
// //     //     margin-bottom: 0;
// //     // }

// //     // &.bandcampTrack {
// //     //     width: 100%;
// //     //     min-width: 170px;
// //     //     height: 120px;

// //     //     &.small {
// //     //         height: 42px;
// //     //     }

// //     //     &.withCover {
// //     //         width: 350px;
// //     //         height: 350px;
// //     //         margin: 0 auto;
// //     //     }
// //     // }

// //     &.bandcampAlbum {
// //         // with tracklist:
// //         min-width: 370px;
// //         height: 208px;
// //         min-height: 208px;

// //         // &.noTracklist {
// //         //     min-width: 250px;
// //         //     height: 120px;
// //         //     min-height: 120px;
// //         // }
// //     }
// // }
