/*--- Query ---*/

// small:
@media screen and (min-width: 576px) {
    body, h1 { font-size: calc(14px + (20 - 14) * ((100vw - 576px) / (1536 - 576))); }
    h2 { font-size: calc(22px + (32 - 22) * ((100vw - 576px) / (1536 - 576))); }
    h3 { font-size: calc(16px + (28 - 16) * ((100vw - 576px) / (1536 - 576))); }
    .gallery.grid { grid-template-columns: repeat(4, 1fr); }
}


// medium:
@media screen and (min-width: 768px) {
    .gallery.grid { grid-template-columns: repeat(5, 1fr); }
}


// large:
@media screen and (min-width: 1024px) {
}


// extra large:
@media screen and (min-width: 1280px) {}


// extra extra large:
@media screen and (min-width: 1536px) {
    body, h1 { font-size: 20px; }
    h2 { font-size: 32px; }
    h3 { font-size: 26px; }
}
