/*--- Query ---*/

// small:
@media screen and (min-width: 576px) {
    body, h1 { font-size: calc($font-size-default-min + ($font-size-default-max-num - $font-size-default-min-num) * ((100vw - 576px) / (1536 - 576))); }
    h2 { font-size: calc($font-size-h2-min + ($font-size-h2-max-num - $font-size-h2-min-num) * ((100vw - 576px) / (1536 - 576))); }
    h3 { font-size: calc($font-size-h3-min + ($font-size-h3-max-num - $font-size-h3-min-num) * ((100vw - 576px) / (1536 - 576))); }
    .grid { grid-template-columns: repeat(4, 1fr); }
}


// medium:
@media screen and (min-width: 768px) {
    .grid { grid-template-columns: repeat(5, 1fr); }
    .grid.content { grid-template-columns: auto auto; }
}


// large:
@media screen and (min-width: 1024px) {
    .grid { grid-template-columns: repeat(6, 1fr); }
}


// extra large:
// @media screen and (min-width: 1280px) {}


// extra extra large:
@media screen and (min-width: 1536px) {
    body, h1 { font-size: $font-size-default-max; }
    h2 { font-size: $font-size-h2-max; }
    h3 { font-size: $font-size-h3-max; }
}






// // small:
// @media screen and (min-width: 576px) {
//     body, h1 { font-size: calc($font-size-default-min + ($font-size-default-max-num - $font-size-default-min-num) * ((100vw - 576px) / (1536 - 576))); }
//     h2 { font-size: calc($font-size-h2-min + ($font-size-h2-max-num - $font-size-h2-min-num) * ((100vw - 576px) / (1536 - 576))); }
//     h3 { font-size: calc($font-size-h3-min + ($font-size-h3-max-num - $font-size-h3-min-num) * ((100vw - 576px) / (1536 - 576))); }
//     .grid.gallery { grid-template-columns: repeat(4, 1fr); }
// }


// // medium:
// @media screen and (min-width: 768px) {
//     .grid.content { grid-template-columns: repeat(2, 1fr); }
//     .grid.gallery { grid-template-columns: repeat(5, 1fr); }
// }


// // large:
// // @media screen and (min-width: 1024px) {}


// // extra large:
// // @media screen and (min-width: 1280px) {}


// // extra extra large:
// @media screen and (min-width: 1536px) {
//     body, h1 { font-size: $font-size-default-max; }
//     h2 { font-size: $font-size-h2-max; }
//     h3 { font-size: $font-size-h3-max; }
// }
