/*--- Query ---------------------------------------------
Larger than mobile. Handle default screen size in _layout.
*/

// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

// sm:
@media screen and (min-width: 576px) {
    body, h1, code, pre /*, .font-mono*/ { font-size: calc(14px + (24 - 14) * ((100vw - 576px) / (1536 - 576))); }
    h2 { font-size: calc(24px + (34 - 24) * ((100vw - 576px) / (1536 - 576))); }
    h3 { font-size: calc(20px + (30 - 20) * ((100vw - 576px) / (1536 - 576))); }
}


// md:
// @media screen and (min-width: 768px) {}


// lg:
// @media screen and (min-width: 1024px) {}


// xl:
// @media screen and (min-width: 1280px) {}


// xxl:
@media screen and (min-width: 1536px) {
    body, h1, code, pre /*, .font-mono*/ { font-size: 24px; }
    h2 { font-size: 34px; }
    h3 { font-size: 30px; }
}
