// _res

// share-tech-regular - latin
@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('vendor/share-tech-v17-latin-regular.woff2') format('woff2'),
         url('vendor/share-tech-v17-latin-regular.woff') format('woff');
}
