// _reset

html,
body,
header,
main,
nav,
div,
h1,
h2,
h3,
label,
p,
ul,
li,
iframe,
hr,
table,
th,
td,
a,
img {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}


a {
    outline: none;
}


iframe,
img,
audio,
video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
