// _var

$font-main: 'Share Tech', Helvetica, Arial, sans-serif;
$font-serif: 'Times New Roman', Times, serif;
$font-size-00: .8125rem; // 13px if 1rem = 16px
$font-size-10: .875rem;  // 14px if 1rem = 16px
$font-size-20: .9375rem; // 15px if 1rem = 16px
$font-size-30: 1rem; // 16px if 1rem = 16px

$color-00: hsl(0, 0%, 0%);
$color-05: hsl(0, 0%, 5%);
$color-10: hsl(0, 0%, 9%);
$color-20: hsl(0, 0%, 11%);
$color-25: hsl(0, 0%, 17%);
$color-27: hsl(0, 0%, 20%);
$color-29: hsl(0, 0%, 30%);
$color-30: hsl(0, 0%, 60%);
$color-40: hsl(0, 0%, 80%);
$color-50: hsl(0, 0%, 100%);
$color-60: hsl(77, 75%, 41%);
$color-70: hsl(19, 78%, 45%);
$color-80: hsl(203, 15%, 47%);
