$font-main: "Share Tech", Helvetica, Arial;
$font-size-00: .8125rem; // 13px if 1rem = 16px
$font-size-10: .875rem;  // 14px if 1rem = 16px
$font-size-20: .9375rem; // 15px if 1rem = 16px
$font-size-30: 1rem; // 16px if 1rem = 16px

$color-00: #000000;
$color-10: #161616;
$color-20: #1c1c1c;
$color-25: #2c2c2c;
$color-30: #828282;
$color-40: #cbcbcb;
$color-50: #ffffff;
$color-60: #8bb61a;
$color-70: #cf5319;
