body {
    background-color: black;
}

body, a {
    color: gray;
}

a {
    &:link,
    &:visited {
        color: silver;
        text-decoration: none;
    }

    &:hover, &:focus {
        color: white;
        text-decoration: underline;
    }

}


table {
    text-align: left;
    border-collapse: collapse;

    td {
        border: 1px solid gray;
        padding: .25rem;
    }
}
