body {
    background-color: black;
}

body, a {
    color: gray;
}

a {
    &:link,
    &:visited {
        color: silver;
        text-decoration: none;
    }

    &:hover, &:focus {
        color: white;
        text-decoration: underline;
    }

}

table {
    text-align: left;
    border-collapse: collapse;

    td {
        border: 1px solid gray;
        padding: .25rem;
    }
}

.active,
a.active {
    color: green;
}

.btn {
    display: inline-block;
    border: 1px solid gray;
    padding: .25rem;
    margin: 0 .5rem .25rem 0;
}

.lazyMedia {
    background-color: orange;
}
